/* styles.css */

/* Reset some default styles */

body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #111111;
    color: #ffffff;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #222222;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    /* display: flex;
    flex-direction: column; */
}

/* ... Add the rest of your CSS styles here ... */

/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#111111;
    color: #ffffff;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #222222;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    
}

.form-group label {
    flex: 1;
    font-weight: bold;
}

.form-group input[type="number"],
.form-group input[type="text"],
.form-group input[type="checkbox"] {
    flex: 2;
    padding: 10px;
    border: 1px solid #555555;
    border-radius: 5px;
    background-color: #333333;
    color: #ffffff;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-container button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #ffffff;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.button-container button:hover {
    background-color: #0056b3;
}

.result {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    font-weight: bold;
    color: #e0b800; /* Glittering Gold */
}

#author{
    text-align: center;
    color:aqua;
    margin: 0%;
}

hr{
    border-color: grey;
}

.grading-system{
    text-align: center;
    
}

ul{
    color: aqua;
    display: inline-flex;
    gap:60px
}
